
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header {
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    z-index: 900;
    top: 0;
    background-color: white;
    margin-bottom: 5px;
}

#header .my_logo {
    width: 60px;
    margin-left: 2%;
}

#header .devs_names {
    position: relative;
    margin-left: -8px;
    margin-top: 8px;
}

#header .devs_names #name {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

#header .devs_names #occupation {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

#header .menu_icon {
    background: #72aee0;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#menu_icon {
    margin-left: auto;
    margin-right: 2%;
}

#header .popup_nav_menu {
    position: absolute;
    width: 500px;
    height: 500px;
    background: #72aee0;
    transform: translate(40%, -100%);
    border-radius: 50%;
    top: 0;
    right: 0;
    animation-iteration-count: 1;
    animation-duration: 600ms;
    animation-direction: normal;
    animation-timing-function: linear;

}

#header .popup_nav_menu .nav_container {
    position: absolute;
    bottom: 28%;
    left: 18%;
    z-index: 1000;
    color: white;
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    justify-content: space-between;
    margin: 10px 10px 0 0;

}

#header .popup_nav_menu .nav_container .close_icon {
    width: 30px;
    cursor: pointer;
}

#close_icon {
    align-self: end !important;
    margin-left: auto;
}

#header .popup_nav_menu .nav_container .nav_item {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
}

#header .popup_nav_menu .nav_container .nav_item:hover {
    transform: scale(1.05);
}

#header .popup_nav_menu .nav_container .nav_item .indicator {
    width: 4px;
    height: 100%;
    background-color: #72aee0;
    margin-right: 4px;
    transition: background-color 200ms 0ms linear;
}

#header .popup_nav_menu .nav_container .nav_item:hover .indicator {
    background-color: #557daa;
}

@keyframes menu_popup_animation {
    from {
        transform: translate(40%, -100%);
        opacity: 0;
    }

    to {
        transform: translate(40%, -40%);
        opacity: 1;
    }

}

@keyframes menu_popup_animation_reverse {
    to {
        transform: translate(40%, -100%);
        opacity: 0;
    }

    from {
        transform: translate(40%, -40%);
        opacity: 1;
    }

}

.socials_icons_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40px;
    margin: 10px 0;
}

a, a:hover {
    text-decoration: none;
}

.socials_icons_container .social_icon {
    width: 32px;
    margin: 0 10px;
}

.socials_icons_container .social_icon:hover {
    transform: scale(1.1);
}

.socials_icons_container .social_icon .bottom_underline {
    height: 3px;
    width: 100%;
    background-color: inherit;
    transition: background-color 200ms 0ms linear;
}

.socials_icons_container .social_icon:hover .bottom_underline {
    background-color: grey;
}

.mail {
    color: #FA4C4C;
}

.facebook {
    color: #1E4BEA;
}

.linkedin {
    color: #33309F;
}

.github {
    color: black;
}

.twitter {
    color: #12B9D0;
}

.instagram {
    color: #DF1515;
}

/*===== Section Chat btn=====*/
.chat_section {
    position: absolute;
    bottom: 3%;
    right: 2%;
    display: flex;
    flex-direction: column;
    z-index: 999;
}

.chat_section .chat_btn {
    margin-top: 10px;
    border-radius: 50%;
    background-color: #72aee0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 200ms 0ms linear;
    width: max-content;
    height: max-content;
    margin-left: auto;
}

.chat_section .chat_btn:hover {
    background-color: #5780ae;
    transform: scale(1.1, 1.1);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.chat_btn .chat_icon {
    color: white;
    width: 50px;
    height: 50px;
    padding: 12px;
    transform: translate(1px, 2px);
}


.chat_section .chat_box {
    border: 1px solid #bfbfbf;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 0;
    display: none;
    opacity: 0;
    transition: all 500ms;
    flex-direction: inherit;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: white;
}

.chat_section .chat_box--shown {
    height: auto;
    opacity: 1;
    display: flex;
}

.chat_box input {
    margin-bottom: 16px;
    height: 28px;
    padding-left: 8px;
    border: inherit;
    border-radius: 5px;
}

.chat_box textarea {
    padding-left: 8px;
    padding-top: 8px;
    border: inherit;
    border-radius: 5px;
}

.chat_box button {
    border-radius: 5px;
    background-color: #72aee0;
    padding: 8px 10px;
    width: max-content;
    margin-left: auto;
    margin-top: 10px;
    color: white;
    font-size: 16px;
    box-shadow: 1px 1px 1px grey;
    cursor: pointer;
    border: 0;
}

.chat_box .chat_box_close {
    width: 20px;
    margin-left: auto;
    cursor: pointer;
    border: 1px solid black;
    height: 20px;
}

/* ====== floating pop-up*===== */
.floating_info_popup {
    position: absolute;
    left: 50%;
    padding: 8px 32px;
    color: white;
    font-size: 24px;
    transform: translateX(-50%);
    /*top: 0;*/
    text-align: center;
    z-index: 999;
}

.floating_info_popup--error {
    background-color: #ff5a5a;
}

.floating_info_popup--success {
    background-color: #00a500;
}

/*TODO: hover color transition for menu icon*/

/*===== homepage BODY ========*/
.home_body {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.home_body .image_container {
    display: block;
    height: calc(0.6 * 99vmin) !important;
}

.image_container .image_bg {
    position: relative;
    width: 100%;
    height: 100%;
    top: -100%;
    background-color: black;
}

.image_container .image {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 10;
    transform: translate(20px, 20px);
}

.image_container .image img {
    max-height: 100%;
    max-width: 100%;
}

.home_body .dev_desc {
    width: max-content;
    margin-left: calc(0.08 * 100vw);
}
.dev_desc p{
    text-align: justify;
    line-height: 1.4;
}

.dev_desc h3{
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
    margin: 10px 0;
}

@media (max-width: 676px) {
    .home_body{
        flex-direction: column;
    }

    .home_body .dev_desc{
        margin-left: 0;
        margin-top: calc(0.08 * 100vh);
        width: 90%;
    }


}


.dev_desc ul{
    margin: 8px 0;
}

.dev_desc ul li{
    margin: 2px 0;
}

.dev_desc .desc_container {
    display: flex;
    flex-direction: column;
}

.dev_desc .project_link{
    margin-left: auto;
}

.dev_desc .project_link button{
    padding: 8px 10px;
    transition:  background-color 200ms linear 0ms;
    background-color: #72aee0;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.dev_desc .project_link button:hover{
    background: #80c0f6;
}